.octotip {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: lightgray;
    display: inline-block;
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 10pt;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin-left: 5px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    pointer-events: none;
    position: absolute;
    left: 0;
    text-align: center;
    word-wrap: break-word;
    width: auto;
    max-width: 450px;
    z-index: 1000000;
    line-height: 1.2;
}

.octotip-name,
.octotip-author {
    color: white;
    font-weight: bold;
}

.octotip-highlight {
    color: white;
}

.octotip-counters {
    color: white;
}

.octotip-counters * {
    margin: 0 2px;
}

.octotip-avatar {
    margin-left: 2px;
    margin-right: 4px;
    display: inline-block;
}

.octotip hr {
    border-color: #797979;
    margin: 3px 0;
}

.octotip .octicon {
    color: lightgray;
}

.octotip-fork .octicon {
    margin-right: 2px;
}

.news .alert {
    overflow: inherit !important;
}

.mini-repo-list-item *,
.repo-list-name a * {
    pointer-events: none;
}

.octotip-loader {
    width: 220px;
    height: 24px;
    margin: 5px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid #5770A2;
}

.octotip-loader__inner {
    background-color: #3A5792;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    animation: progress-bar-stripes 2s linear infinite;
    transition: width 0.1s;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
